<table>
	<thead>
		<tr>
			<th>
				<h3>Category</h3>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<% genres.each do |genre| %>
					<%= link_to "#{genre.name}", events_path(genre_id: genre.id) %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>