<h3 class="text-center">予定日前</h3>

<hr>

<% if @notifications.exists? %>
    <table class="table table-bordered">
        <thead>
          <tr class="tr_option">
            <th colspan="1"></th>
            <th>本文</th>
            <th>開始日</th>
            <th>終了日</th>
          </tr>
        </thead>
        <div class="users-index">
            <%#= render @notifications %>
        <tbody>
            <% @notifications.each do |notification| %>
            <tr>
            	<td><%= notification.title %></td>
                <td><%= notification.text %></td>
                <td><%= notification.start_date.strftime('%Y/%m/%d %H:%M') %></td>
                <td><%= notification.end_date.strftime('%Y/%m/%d %H:%M') %></td>
            <tr>
            <% end %>
        </div>
    </tbody>
    </table>
<% else %>
    <p>通知はありません</p>
<% end %>