<div class="container calender_index">
	<div class="row category">
		<div class="col-xs-3">
			<%= render 'searchs/search', search: @search %><br>
			<%= render 'genres/genreslist', genres: @genres %>
		</div>
		<div class="col-xs-9">
			<div id="calendar"></div>
		</div>
	</div>
</div>