<%= render 'searchs/search', search: @search %><br>
<%= render 'genres/genreslist', genres: @genres %>

<h1>New Event</h1>

<%= render 'form', event: @event, genre: @genre %>

<%= link_to 'Back', events_path %>
