<div class="about">
	 <p>Recordはあなたに生活の効率化を手助けします。</p>
</div>

 <br>

<div class="about">
	 <div><%= image_tag '48.png', class: "about_image" %></div>
	 <p>まずは新規カテゴリーを追加します。</p>
</div>

 <br>

<div class="about">
	 <div><%= image_tag '52.png', class: "about_image" %></div>
	 <p>カテゴリーを登録後は新規投稿へ</p>
</div>

 <br>

<div class="about">
	 <div><%= image_tag '10.png', class: "about_image" %></div>
	 <p>タイトルとカテゴリーを選択すれば後はあなた次第</p>
</div>