<tr id="destroy_<%= genre.id %>">
	<td><%= genre.name %></td>
	<td class="option"><%= link_to 'Edit',edit_genre_path(genre) %></td>
	<td class="option"><%= link_to 'Destroy', genre_path(genre), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
