<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		Categorys
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li role="presentation">
			<a href="#">
				<% genres_list.each do |genre| %>
					<%= link_to "#{genre.name}", events_path(genre_id: genre.id), class: "col-xs-11 genre-item-name" %>
				<% end %>
			</a>
		</li>
	</ul>
</div>