/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .slick_image {
  height: 500px;
  width :100%;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.pagination>li>a {
  border: none !important;
  color: black !important;
}

.pagination>.active>a {
  background: gray !important;
  opacity: 0.5 !important;
  color: #FFFFFF !important;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.col-xs-3 {
  width: 21%;
}


.genre-th {
	background-color: gray;
	border-radius: 50px;
	opacity: 0.5;
}
.genre-headline {
	margin: 0px 20px 0px 20px;
	padding: 10px;
	text-align: center;
	color: white;
}
.genre-td {
	text-align: center;
	padding-bottom: 30px;
}
.genre-item-name{
	line-height: 40px;
	font-size: 15px;
	color: black;
	text-decoration: none;
}