// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about_image {
	border-radius: 15px;
}

.about p {
	text-align: center;
	font-size: 17px;
  padding: 0.8em 1em;
  margin: 2em 0;
  color: #7a7a7a;
  background: #f9f9f9;
  border-bottom: solid 6px gray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

@media screen and (max-width:425px) {
.about_image {
	width: 100%;
}

.about p {
	margin-right: 10px;
	text-align: center;
	width: 350px;
	font-size: 12px;
}

}